node-red/flows.json
[
    {
        "id": "d75ff5b374221808",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83b4023a5191a7f6",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f0c7f8526da4632",
        "type": "MySQLdatabase",
        "name": "MySQL",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sistema_riego",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de88cdce6f90d050",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Temperatura",
        "topic": "casa/jardin/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "d9a1995572a92f96",
                "d5eceb4dfcc171b1"
            ]
        ]
    },
    {
        "id": "151dee9989970f20",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Temperatura",
        "info": "",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "d9a1995572a92f96",
        "type": "debug",
        "z": "d75ff5b374221808",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "e7e47bbf5cea5c11",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Humedad",
        "topic": "casa/jardin/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "fbf3f431c84a2115",
                "6143fdcc262e3e2f"
            ]
        ]
    },
    {
        "id": "a35dd9d77fbf7a7c",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Humedad",
        "info": "",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "fbf3f431c84a2115",
        "type": "debug",
        "z": "d75ff5b374221808",
        "name": "Humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f29faea68bcc658",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Humedad del Suelo",
        "info": "",
        "x": 300,
        "y": 540,
        "wires": []
    },
    {
        "id": "951baae607a4a665",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Humedad Suelo",
        "topic": "casa/jardin/humedadsuelo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "ef51d87d6828189f",
                "04cb01d4a43e9538"
            ]
        ]
    },
    {
        "id": "ef51d87d6828189f",
        "type": "debug",
        "z": "d75ff5b374221808",
        "name": "Humedad Suelo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 600,
        "wires": []
    },
    {
        "id": "f74d0ccd6273fcca",
        "type": "mysql",
        "z": "d75ff5b374221808",
        "mydb": "0f0c7f8526da4632",
        "name": "",
        "x": 960,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d5eceb4dfcc171b1",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic =\"INSERT INTO temperatura(valorTemp) VALUES(\"+msg.payload+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    },
    {
        "id": "6143fdcc262e3e2f",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic = \"INSERT INTO humedad(valorHumedad) VALUES(\" + msg.payload + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    },
    {
        "id": "04cb01d4a43e9538",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic = \"INSERT INTO humedad_suelo(valorHSuelo) VALUES(\" + msg.payload + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    }
]