node-red/flows.json
[
    {
        "id": "d75ff5b374221808",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "687dd2747b126d5d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83b4023a5191a7f6",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f0c7f8526da4632",
        "type": "MySQLdatabase",
        "name": "MySQL",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sistema_riego",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5c1180f1877909ca",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#37687b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3cbe52",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#3cbe52",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3cbe52",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#74d384",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3cbe52",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 10,
                "cy": 10,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e0fceb5ab3c6faab",
        "type": "ui_tab",
        "name": "JardinDashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9152d0c2164bf362",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "e0fceb5ab3c6faab",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1eddc3ce6a80dc6",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "e0fceb5ab3c6faab",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1795b361c276ee09",
        "type": "ui_group",
        "name": "Humedad del suelo",
        "tab": "e0fceb5ab3c6faab",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c17ebd04fe2b4b0",
        "type": "ui_group",
        "name": "NivelLiquido",
        "tab": "e0fceb5ab3c6faab",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38998e7c21620300",
        "type": "ui_group",
        "name": "Riego",
        "tab": "e0fceb5ab3c6faab",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdb772bc68a9976c",
        "type": "ui_group",
        "name": "PorcentajeLiquido",
        "tab": "e0fceb5ab3c6faab",
        "order": 6,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de88cdce6f90d050",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Temperatura",
        "topic": "casa/jardin/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "d5eceb4dfcc171b1",
                "205816792576c5ac",
                "a40f725865e4cbd1",
                "7068e065e5bed5cb"
            ]
        ]
    },
    {
        "id": "151dee9989970f20",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Temperatura",
        "info": "",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "e7e47bbf5cea5c11",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Humedad",
        "topic": "casa/jardin/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "6143fdcc262e3e2f",
                "6334a4f1137aa57c",
                "d84158d115a7a0d2",
                "84387fd43641693f"
            ]
        ]
    },
    {
        "id": "a35dd9d77fbf7a7c",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Humedad",
        "info": "",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "8f29faea68bcc658",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Humedad del Suelo",
        "info": "",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "951baae607a4a665",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "Humedad Suelo",
        "topic": "casa/jardin/humedadsuelo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 680,
        "wires": [
            [
                "04cb01d4a43e9538",
                "348bbe61f7584546",
                "fc26da6e78f5f9e1",
                "83def8aaf273741a"
            ]
        ]
    },
    {
        "id": "f74d0ccd6273fcca",
        "type": "mysql",
        "z": "d75ff5b374221808",
        "mydb": "0f0c7f8526da4632",
        "name": "",
        "x": 1240,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d5eceb4dfcc171b1",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic =\"INSERT INTO temperatura(valorTemp) VALUES(\"+msg.payload+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    },
    {
        "id": "6143fdcc262e3e2f",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic = \"INSERT INTO humedad(valorHumedad) VALUES(\" + msg.payload + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    },
    {
        "id": "04cb01d4a43e9538",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "INSERTAR",
        "func": "msg.topic = \"INSERT INTO humedad_suelo(valorHSuelo) VALUES(\" + msg.payload + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 760,
        "wires": [
            [
                "f74d0ccd6273fcca"
            ]
        ]
    },
    {
        "id": "205816792576c5ac",
        "type": "ui_gauge",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "9152d0c2164bf362",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Grados de Temperatura",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0091ad",
            "#5cd709",
            "#e58b24"
        ],
        "seg1": "18",
        "seg2": "30",
        "className": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "6334a4f1137aa57c",
        "type": "ui_gauge",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "c1eddc3ce6a80dc6",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Porcentaje Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#345f65",
            "#6077d2",
            "#3aa6cb"
        ],
        "seg1": "25",
        "seg2": "55",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "348bbe61f7584546",
        "type": "ui_gauge",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "1795b361c276ee09",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Porcentaje Humedad Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#345f65",
            "#6077d2",
            "#3aa6cb"
        ],
        "seg1": "20",
        "seg2": "45",
        "className": "",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "a40f725865e4cbd1",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "Determinar Estado",
        "func": "var temp=msg.payload;\nvar estado;\nif(temp>=0 && temp<=18){\n    estado=\"Frio\";\n}\nelse if (temp>18 && temp <=30){\n    estado = \"Temperatura optima\";\n}\nelse if (temp > 30 && temp <= 50){\n    estado = \"Caliente\";\n}\nelse{\n    estado=\"temperatura indeterminada\";\n}\nmsg.payload=estado;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "84c12e18f582121f"
            ]
        ]
    },
    {
        "id": "84c12e18f582121f",
        "type": "ui_text",
        "z": "d75ff5b374221808",
        "group": "9152d0c2164bf362",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "mostrar estado Temperatura",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "d84158d115a7a0d2",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "Determinar Estado",
        "func": "var humedad = msg.payload;\nvar estado;\nif (humedad >= 0 && humedad <= 25) {\n    estado = \"Humedad seca\";\n}\nelse if (humedad > 25 && humedad <= 55) {\n    estado = \"Humedad normal\";\n}\nelse if (humedad > 55 && humedad <= 100) {\n    estado = \"Muy humedo\";\n}\nelse {\n    estado = \"Humedad indeterminada\";\n}\nmsg.payload = estado;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f78e7aadda71f821"
            ]
        ]
    },
    {
        "id": "f78e7aadda71f821",
        "type": "ui_text",
        "z": "d75ff5b374221808",
        "group": "c1eddc3ce6a80dc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Mostrar estado Humedad",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "fc26da6e78f5f9e1",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "Determinar Estado",
        "func": "var humedadsuelo = msg.payload;\nvar estado;\nif (humedadsuelo >= 0 && humedadsuelo <= 20) {\n    estado = \"Suelo seco\";\n}\nelse if (humedadsuelo > 20 && humedadsuelo <= 45) {\n    estado = \"Suelo Humedo\";\n}\nelse if (humedadsuelo > 45 && humedadsuelo <= 100) {\n    estado = \"Suelo muy humedo\";\n}\nelse {\n    estado = \"Humedad del suelo indeterminada\";\n}\nmsg.payload = estado;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 820,
        "wires": [
            [
                "aafb6f64c4656677"
            ]
        ]
    },
    {
        "id": "aafb6f64c4656677",
        "type": "ui_text",
        "z": "d75ff5b374221808",
        "group": "1795b361c276ee09",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Mostrar estado humedad suelo",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 820,
        "wires": []
    },
    {
        "id": "7068e065e5bed5cb",
        "type": "ui_chart",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "9152d0c2164bf362",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafica Temperatura ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "84387fd43641693f",
        "type": "ui_chart",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "c1eddc3ce6a80dc6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Grafica Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "83def8aaf273741a",
        "type": "ui_chart",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "1795b361c276ee09",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Grafica Humedad del suelo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9c355c025256ea78",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "CantidadLiquido",
        "topic": "casa/jardin/cantidadLiquido",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "8cfb2c7cf329eb1b"
            ]
        ]
    },
    {
        "id": "8cfb2c7cf329eb1b",
        "type": "ui_gauge",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "5c17ebd04fe2b4b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Cantidad Liquido",
        "label": "ml",
        "format": "{{value}}",
        "min": 0,
        "max": "900",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 980,
        "wires": []
    },
    {
        "id": "c7301064e2423d6a",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Cantidad_Liquido",
        "info": "",
        "x": 340,
        "y": 920,
        "wires": []
    },
    {
        "id": "8771bdec314c92f8",
        "type": "mqtt in",
        "z": "d75ff5b374221808",
        "name": "PorcentajeLiquido",
        "topic": "casa/jardin/porcentajeLiquido",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b4023a5191a7f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "5dd20f03195a4af7",
                "12c5826a2a874afd"
            ]
        ]
    },
    {
        "id": "5dd20f03195a4af7",
        "type": "ui_gauge",
        "z": "d75ff5b374221808",
        "name": "",
        "group": "bdb772bc68a9976c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "PorcentajeLiquido",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2a5aa975f8486417",
        "type": "comment",
        "z": "d75ff5b374221808",
        "name": "Suscriptor Porcentaje Liquido",
        "info": "",
        "x": 340,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ad48e07dddcadf53",
        "type": "ui_text",
        "z": "d75ff5b374221808",
        "group": "38998e7c21620300",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado Recipiente:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 1240,
        "wires": []
    },
    {
        "id": "12c5826a2a874afd",
        "type": "function",
        "z": "d75ff5b374221808",
        "name": "Mensake liquido para riego",
        "func": "var porcetanje=msg.payload;\nvar mensaje;\nif(porcetanje<=25){\n    mensaje=\"No es posible el riego,llene liquido al recipiente\";\n}\nelse if(porcetanje>25 && porcetanje<40){\n    mensaje=\"Advertencia:Apunto de llegar al limite de liquido para regar\"\n}\nelse{\n    mensaje=\"Cantida de liquido optimo para el riego\"\n}\nmsg.payload=mensaje;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "ad48e07dddcadf53"
            ]
        ]
    },
    {
        "id": "a0517ea102fcb878",
        "type": "ui_switch",
        "z": "687dd2747b126d5d",
        "name": "TipoRiego",
        "label": "Riego",
        "tooltip": "",
        "group": "38998e7c21620300",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-shower",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-shower",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "99aa5e97f20ed0b2",
                "696351648be1db12",
                "f90388771b78fbf0"
            ]
        ]
    },
    {
        "id": "c24dae037cbe53b1",
        "type": "ui_text",
        "z": "687dd2747b126d5d",
        "group": "38998e7c21620300",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Mostrar_TipoRiego",
        "label": "TipoRiego:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "99aa5e97f20ed0b2",
        "type": "function",
        "z": "687dd2747b126d5d",
        "name": "Texto_TipoRiego",
        "func": "var tipo=msg.payload;\nvar texto;\n//Si es verdadero\nif(tipo==true){\n    texto=\"Manual\";\n}else{\n    texto=\"Automatico\";\n}\nmsg.payload = texto;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "c24dae037cbe53b1"
            ]
        ]
    },
    {
        "id": "af4ad0cf6e1d4c25",
        "type": "ui_switch",
        "z": "687dd2747b126d5d",
        "name": "",
        "label": "RiegoManual:",
        "tooltip": "",
        "group": "38998e7c21620300",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tint",
        "oncolor": "blue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tint",
        "offcolor": "white",
        "animate": false,
        "className": "",
        "x": 980,
        "y": 440,
        "wires": [
            [
                "db185081c98d2dc6"
            ]
        ]
    },
    {
        "id": "696351648be1db12",
        "type": "switch",
        "z": "687dd2747b126d5d",
        "name": "riego manual activo?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "50f47bfee0f4ecca"
            ],
            [
                "557e6f110cc763a3"
            ]
        ]
    },
    {
        "id": "50f47bfee0f4ecca",
        "type": "function",
        "z": "687dd2747b126d5d",
        "name": "desactivar_switch",
        "func": "msg.enabled=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "af4ad0cf6e1d4c25"
            ]
        ]
    },
    {
        "id": "557e6f110cc763a3",
        "type": "function",
        "z": "687dd2747b126d5d",
        "name": "activar_switch",
        "func": "msg.enabled=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 480,
        "wires": [
            [
                "af4ad0cf6e1d4c25"
            ]
        ]
    },
    {
        "id": "f90388771b78fbf0",
        "type": "mqtt out",
        "z": "687dd2747b126d5d",
        "name": "TipoRiego",
        "topic": "casa/jardin/tiporiego",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83b4023a5191a7f6",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "db185081c98d2dc6",
        "type": "mqtt out",
        "z": "687dd2747b126d5d",
        "name": "Orden riego manual",
        "topic": "casa/jardin/riegomanual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83b4023a5191a7f6",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "3abae538f1fda6de",
        "type": "comment",
        "z": "687dd2747b126d5d",
        "name": "Publicador TIpoRiego",
        "info": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "f4417c706c7466b8",
        "type": "comment",
        "z": "687dd2747b126d5d",
        "name": "Publicador RiegoManual",
        "info": "",
        "x": 1230,
        "y": 380,
        "wires": []
    }
]